@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: consolas;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  /* max-width: 700px; */
}
