
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: consolas;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  color: white;
  padding: 1.5rem;
}

